@use "../../styles/variables.scss" as vars;

.home-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .home-section-content {
    max-width: 600px;

    h1 {
      font-size: 2.5rem;

      span {
        color: var(--accent);
      }
    }

    p {
      margin: 1rem 0 2rem;
      font-size: 1.2rem;
      line-height: 1.5;
      color: var(--text);
    }

    .home-section-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .btn {
        background-color: var(--accent);
        color: vars.$text-light;
        border: none;
        padding: 0.7rem 1.5rem;
        border-radius: 8px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }

  .home-hero-image {
    img {
      max-width: 300px;
      border-radius: 12px;
      box-shadow: 0 4px 10px var(--shadow);
    }
  }
}
