@use "../../styles/variables.scss" as vars;

.theme-switch {
  display: flex;
  align-items: center;
  gap: vars.$spacing-xs;

  .icon {
    width: 16px;
    height: 20px;
    transition: color vars.$transition-base;

    &.active {
      color: var(--color-primary);
    }

    &.inactive {
      color: var(--color-inactive);
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      inset: 0;
      background-color: var(--color-inactive);
      border-radius: 24px;
      transition: vars.$transition-base;

      &::before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: #ffffff;
        border-radius: 50%;
        transition: vars.$transition-base;
      }
    }

    input:checked + .slider {
      background-color: var(--color-primary);

      &::before {
        transform: translateX(26px);
      }
    }
  }
}