.theme-switch {
  display: flex;
  align-items: center;
  gap: 5px; // <-- ajuste l'espacement entre les icônes et le switch

  .icon {
    width: 15px;
    height: 20px;
    cursor: pointer;

    &.active {
      color: var(--accent); // couleur active
    }

    &.inactive {
      color: var(--inactive); // couleur inactive
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--accent);
      border-radius: 25px;
      transition: 0.4s;

      &::before {
        position: absolute;
        content: "";
        height: 19px;
        width: 19px;
        left: 3px;
        bottom: 3px;
        background-color: var(--background);
        border-radius: 50%;
        transition: 0.4s;
      }
    }

    input:checked + .slider {
      background-color: var(--accent);

      &::before {
        transform: translateX(25px);
      }
    }
  }
}
