// src/components/LanguageSelector/LanguageSelector.scss
@use "../../styles/variables.scss" as vars;

.language-selector {
  display: flex;
  align-items: center;
  gap: vars.$spacing-xs;
}

.language-select {
  padding: vars.$spacing-xs;
  border-radius: vars.$radius-sm;
  border: 1px solid var(--color-primary);
  background-color: var(--color-background);
  color: var(--color-text);
  cursor: pointer;
}
