@use "../../styles/variables" as *;

.contact-page {
  width: 100%;
    /* Fade-up général pour toutes les sections */
  .fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .contact-intro {
    text-align: center;

    h1 {
      font-size: 2.4rem;
      color: var(--accent);
      margin-bottom: 1rem;
    }

    p {
      max-width: 700px;
      margin: 0 auto;
      color: var(--text);
      font-size: 1.1rem;
      line-height: 1.6;
    }
  }

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 80%;

      input, textarea {
        padding: 0.8rem 1rem;
        border-radius: 8px;
        border: 1px solid var(--accent);
        font-size: 1rem;
        color: var(--text);
        background: var(--background-alt);
        transition: border 0.3s ease;
        &:focus {
          outline: none;
          border-color: var(--accent);
        }
      }

      .success-msg {
        color: var(--accent);
        font-weight: 500;
        margin-top: 0.5rem;
        align-self: center;
      }
    }

    .contact-info {
      text-align: center;
      font-size: 1.1rem;

      h3 {
        font-size: 1.5rem;
        color: var(--accent);
        margin-bottom: 1rem;
      }

      p {
        color: var(--text);
        margin-bottom: 0.5rem;
        a {
          color: var(--accent);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .social-links {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;

        a {
          color: var(--accent);
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
