@use "../../styles/variables.scss" as *;

.projects-page {
  text-align: center;
  padding: 3rem 1rem;

  .projects-intro {
    max-width: 800px;

    h1 {
      color: var(--accent);
      margin-bottom: 1rem;
    }

    p {
      color: var(--text);
      opacity: 0.9;
    }
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
