@use "../../styles/variables.scss" as vars;

.about-intro {
  h1 {
    color: var(--accent);
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    max-width: 700px;
    color: var(--text);
    line-height: 1.7;
    text-align: center;
    margin: 0 auto;
  }
}
